:root.dark {
  --vp-c-text: #f0f6fc;
  --vp-c-text-1: #c9d1d9;
  --vp-c-text-2: #6e7681;
}

.VPDoc .content button, .VPDoc .content input, .VPDoc .content .lines {
  color: var(--vp-c-text-1);
  background-color: var(--vp-sidebar-bg-color);
  box-shadow: none;
  padding: 4px 16px;
  border-radius: 12px;
}

.title > .VPImage.logo {
  margin-left: -4px;
}
