:root.dark {
  --vp-c-text: #f0f6fc;
  --vp-c-text-1: #c9d1d9;
  --vp-c-text-2: #6e7681;
}

/* TODO: remove after vitepress fixes their styles */
.VPLocalNav ~ .VPNav {
  position: relative !important;
}
.VPNav, .VPNav *, .VPNavBar {
  transition: background-color 0 !important;
}
.VPContent:not(.has-sidebar) {
  padding-top: var(--vp-nav-height);
}
.VPNavBar:not(.has-sidebar) {
  background-color: var(--vp-nav-bg-color) !important;
}
.VPNavBar.fill {
  border-bottom-color: var(--vp-c-gutter) !important;
}
@media (max-width: 960px) {
  .VPNav {
    position: relative !important;
  }
  .VPNavBar:not(.has-sidebar) {
    position: fixed;
    width: 100%;
  }
}
.VPNavBar.has-sidebar .curtain {
  bottom: -30px !important;
}
.VPNavBar.fill.has-sidebar {
  border-bottom-color: transparent !important;
}
.vp-code-group .tabs label::after {
  z-index: 9 !important;
}
/* TODO: ^ */

.custom-block-title:only-child {
  margin-bottom: 8px !important;
}

.VPDoc .content button, .VPDoc .content input, .VPDoc .content .lines {
  color: var(--vp-c-text-1);
  background-color: var(--vp-sidebar-bg-color);
  box-shadow: none;
  padding: 4px 16px;
  border-radius: 12px;
}

.title > .VPImage.logo {
  margin-left: -4px;
}
