@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #0c1117;
    --c-text: #f0f6fc;
    --c-text-light: #c9d1d9;
    --c-text-lighter: #6e7681;
    --c-divider: #21262d;
    --code-inline-bg-color: rgba(240, 246, 252, 0.15);
  }

  h2 code {
    background-color: var(--c-bg);
  }

  pre code {
    background-color: transparent;
  }

  .highlight-lines .highlighted {
      /* background-color: rgba(0, 0, 0, .66); */
      background-color: var(--code-inline-bg-color);
  }

  .nav-bar {
    background-color: #161b22 !important;
  }

  button, input {
    color: var(--c-text);
    background-color: var(--code-inline-bg-color);
    border: 2px solid var(--c-text-lighter);
    box-shadow: none;
  }
}
